body { font-family: 'Segoe UI', sans-serif; background-color: #f1f5f9; color: #1f2937; }
section { padding: 60px 0; }
.hero {
    background-color: #e2e8f0;
    text-align: center;
    padding: 100px 20px;
    position: relative;
    overflow: hidden;
}
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: rgba(155, 178, 101, 0.6);*/
    background: rgb(155 178 191 / 60%);
    /*rgb(155 178 191 / 60%)*/
    z-index: 2;
}
.hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/assets/site/img/serv-4-3-1.png') center/cover no-repeat;
    z-index: 1;
    color: white;
}
.hero > .container {
    position: relative;
    z-index: 3;
    color: white;

}
.pricing .card {
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.05);
    background-color: #ffffff;
}
footer {
    background: #1f2937;
    color: white;
    padding: 30px 0;
}
.form-control:focus {
    box-shadow: none;
    border-color: #38bdf8;
}
.navbar-light .navbar-nav .nav-link {
    color: #1f2937;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #0ea5e9;
}
.btn-primary {
    background-color: #0ea5e9;
    border-color: #0ea5e9;
}
.btn-primary:hover {
    background-color: #0284c7;
    border-color: #0284c7;
}
.contact-sent {
    /*background-color: #449ba0;*/
    /*color: white;*/
    font-weight: normal;
    font-size: large;
}